/* 
Para el proyecto utilizaremos la metodología BEM (BLOQUE-ELEMENTO-MODIFICADOR):
BLOQUE:
.card{}
BLOQUE-ELEMENTO:
.card__form1{}
BLOQUE-ELEMENTOS:
.card__form1-input{}
BLOQUE-ELEMENTOS-MODIFICADOR:
.card__input__green{}

En cada clase usaremos el siguiente orden :

1.- POSICIONAMIENTO
2.- BOX MODEL
3.- TIPOGRAFIA
4.- VISUALES
5.- OTROS

.form-registro{
    position:absolute;
    top:10px;
    rigth:0;

    width:90%;
    heigth:40vh;
    border-radius:5px;

    font-size:1.2rem;
    font-weigth:bold;

    color:red1;
    backgronud-color:blue1;

    z-index:100;
    transition: 1s;
}

Nombres de clases en Ingles para tenerlos todos igual

*/

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;800&family=Rubik+Maps&display=swap');
/* font-family: 'Nunito', sans-serif;
font-family: 'Rubik Maps', system-ui; */


/* Global Variables */
:root{
    --primary-color:#0000ff;
    --secundary-color:#4fc3da;
    --purple-color:#4e4ef8;
    
}
/* General styles */
body{
font-family: 'Nunito', sans-serif;
/* scroll-behavior: smooth; */
display: flex;
flex-direction: column;
width: 100%;


}
section{
   
    
   
    scroll-behavior: smooth;
    
    
    
}

/* Header */
header{
    position: fixed;
    top: 0;
    left: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 11vh;

    backdrop-filter:blur(10px);
    
    border-bottom: 1px solid rgba(248, 244, 244, 0.5);
    
    z-index: 200;
}
header div{
    display: flex;
    align-items: center;
}
header div div{
    display: flex;
    flex-direction: column;
    color: #ffffff;
}
header div div p{
    margin: 0;
}
header img{
    width: 60px;
    height: 60px;
    margin: 10px;
}
.nav-menus{
    display: flex;
    gap: 25px;
    padding: 0 20px;
}
.nav-menus a{
    color: white;
    font-size: 1rem;
    text-decoration: none;
}
.nav-menus a.active{
    color: var(--primary-color);
}
/* ELEMENTS */
.card{           
    display: flex;
    flex-direction: column;
    /* background: linear-gradient(
        to left top,
        rgba(255, 255, 255, 0.8),
        rgba(255, 255, 255, 0.5)
    ); */
    border-radius: 1rem;
    /* margin: 2rem; */
    padding: 3rem;
    box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.5);
    justify-content: space-between;
    backdrop-filter:blur(10px);
    
}
.card h1,.car p{
    opacity: 1;
}



/* Blocks */
article{
    margin: 20px;
    padding: 15px;
}
.article__about p{
    margin: 4px auto;
    font-size: 0.9rem;

}
.article__about p a{
    font-size: 1rem;
    color: var(--primary-color);
    cursor: pointer;
    text-decoration: none;

}
.article__about span img{
    color: var(--secundary-color);
}


.container{
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: row;

}
.button{
    padding: 15px;
    margin: 15px auto;
    border-radius: 10px;

    text-align: center;
    text-decoration: none;
    cursor: pointer;

    transition: transform 0.5s;
}
.button:hover{
    transform: translateY(-10px);
    background: #0000ff;
    
}
.button-blue{
    background-color:var(--purple-color);
    color: white;  
}
.button-50{
    width: 50%; 
}
.button-25{
    width: 25%; 
}

.col-2{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    place-items: center;
    align-items: center;
    

}
.col-2 img{
    width: 80%;
    border-radius: 5px;
}

.left-20{
    margin-left: 20%;
}
.w-25{
    width: 25%;
    margin: 0 auto;
}
.w-50{
    width: 50%;
    margin: 0 auto;
}
.w-70{
    width: 70%;
    margin: 0 auto;
}
.h-75{
    height: 75vh;
}
.h-40{
    height: 40vh;
}
.h-50{
    height: 50vh;
}
.h-80{
    height: 80vh;
}
.margin-bar{
    margin-top: 13vh;
   
}
.text-center{
    text-align: center;
}

/* Elements */
.logo{
    color: white;
    text-decoration: none;
    font-size: 1rem;
}
/* Modificators */
.align-center{
    align-self: center;
}
.border-ice{
    box-shadow: 1px 2px 20px 5px var(--secundary-color);
}
/* Section hero */
.hero .bg{
    position: relative;
    width: 100%;
    height: 100vh;    
    overflow: hidden; 
    background-image: url(./../img/images/patines.jpg);
    background-size: 100% 100vh;
    background-repeat: no-repeat;
    background-position: center;
    
   
}
.hero .bg img{
    width: 100%;
    height: 100vh;
   
}
.transparent{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    /* background: #2828f7; */
    background: var(--secundary-color);
    opacity: 0.5;
    z-index: 10;
    
    
}
.bubbles{
    position: absolute;
    display: flex; 
}
.bubbles span{
    position: relative;
    top: 0;
    min-width: 30px;
    height: 30px;
    background: #4fc3da;
    border-radius: 50%;
    box-shadow: 0 0 0 10px  #4fc3dc44,
    0 0 50px  #4fc3da,
    0 0 100px  #4fc3da;
    margin:0 4px;
    animation: animate 15s linear infinite;
    animation-duration: calc(75s / var(--i));
}
.bubbles span:nth-child(even){
    background: #ffffff;
    box-shadow: 0 0 0 10px  #4fc3dc44,
    0 0 50px  #4fc3da,
    0 0 100px  #4fc3da;
   
}
.info{
    position: relative;
    top: 20%;
    left: 10%;
    display: flex;
    flex-direction: column;
    width: 80%;
    color: white;
    z-index: 100;
}
.info h1{
    width: 100%;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
}
.info p{
    margin: 20px;
    font-size: large;
    text-align: center;
}
/* Animations */
@keyframes animate{
    0%{
        transform: translateY(-10vh) scale(0);
    }
    100%{
        transform: translateY(100vh) scale(0.5);
    }
}
@keyframes slideUp{
    from{
        transform: translateY(200px);
        
    }
    to{
        transform: translateY(0);
    }
}
@keyframes slideDown{
    from{
        transform: translateY(-500px);
        
    }
    to{
        transform: translateY(0);
    }
}
.scroll-animation-up{
    opacity: 0;
    filter: blur(1px);   
    transform: scaleY(100px);
    transition:  1.5s;
    
}
.scroll-animation-down{
    opacity: 0;
    transform: scaleY(-100px);

    filter: blur(1px);
    transition:  1.5s;
}
.show-up{
    opacity: 1;
    filter: blur(0px);
    animation: slideUp 2s;
    
}
.show-down{
    opacity: 1;
    filter: blur(0px);
    animation: slideDown 2s;
    
}
.animation-avent-to-scale{
    opacity: 0;
    transition-delay: 1s;
    animation-delay: 2s;
}
.animation-scale{
    opacity: 1;
    animation: scaleUp 1s linear;
    transition-delay: 2s;
    
    
}
@keyframes scaleUp{
    from{
        transform: scale(0);
        opacity: 0;
    }
    to{
        transform: scale(1);
        opacity: 1;
    }
}
.animation-event-to-right{
            
    opacity: 0;
}
.animation-right{
    opacity: 1;
    animation: moveRight 1s linear;
}
@keyframes moveRight{
    from{
        transform: translateX(-500px);
        opacity: 0;
    }
    to{
        transform: translateX(0px);
        opacity: 1;
    }
}
/* About Section */
.about-section{
    display: grid;   
    place-items: center;
    align-items: center;
    width: 100%;
    
    margin-bottom: 10%;
    
    
    /* background-color: rgb(79, 195, 218,0.1); */
    
    /* background: linear-gradient(360deg, rgba(4,72,122,0.5) 2%, rgba(237,222,222,1) 50%, rgba(208,232,237,1) 96%);
    background: linear-gradient(
                to left top,
                rgba(39, 152, 233, 0.8),rgba(255, 255, 255, 0.8)); */
            
    box-shadow: 1px 2px 20px 5px rgba(39, 152, 233, 0.8); 
}
.about-section .img-about{
    width: 25%;
    margin: 10px auto;
}
.article__about{
    padding: 2% auto 0;

}
.article__tittle{
    color: var(--purple-color);
    /* margin: 0; */
}
.section-galery{
    display: flex;
    flex-direction: column;
    width: 100%;
    
}
.images-logos{
    display: grid;
    grid-template-rows: 1fr 1fr;
    text-align: center;
}
.logo-1{
    width: 100%;
    display: flex;
    
}
.logo-2{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.grid-center{
    place-items: center;
    align-items: center;
}
/* Galery Caurocel */
.section-galery2 .container-galery{         
    width: 100%;
    height: 75vh;
    
}
.section-galery2 .carrusel-galery {
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;   
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow-x: scroll;
    overflow: hidden;
}


.section-galery2 .imagen { 
    margin: 0;
    width: 100%;
    height: 80vh;
    min-width: 300px;
    transition: scroll 2s ease-in-out;
}

.barra-progreso-galery {
    position: relative;
    left: 0;
    bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;       
    width: 100%;
    margin-bottom: 2rem;
    
}
.btn-galery{
    width: 15px;
    height: 15px;
    background: #bedfe6;
    border-radius: 50%;
    margin:0 10px;
    cursor: pointer;
}
.btn-galery-focus{
    background: white;
    box-shadow: 0 0 0 1px  #4fc3dc44,
    0 0 10px  #4fc3da,
    0 0 10px  #4fc3da;
}
.botonAnterior,
.botonSiguiente {
    position: relative;
    top: -50%;
    transform: translateY(-50%);
    font-size: 24px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    padding: 10px;
    cursor: pointer;
    
}
.botonAnterior {
    left:2%;
}
.botonSiguiente {
    left: 90%;
}


.section-galery2{
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    margin: 1.2rem;
    
}
.section-galery2 .carrusel-galery{
    border-radius: 10px;
    box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.5);

}
.down-arrow{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.down-arrow img{
    position: relative;
    top: -10px;
    width: 80px;
    cursor: pointer;
}









/* events section  */
.events-section{
   
  
   margin: 0;
   padding:0;
   height: 100vh;
   width: 100%;
   
   z-index: 1;
   background-image: url('../img/images/paisaje.jpg');
   
   background-size: 100% 100vh;
   background-repeat: no-repeat;
   background-position: center;
   
  
}
.info-events{
 margin: 100px;
}
.events__tittle{
    color: #ffff;
}

/* Carrusel */
.carrucel{
    height: 80vh;
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    overflow-x: auto;
    overflow-x: hidden;
    overflow: hidden;
    /* position: absolute;  */
    /* Permite que la barra de desplazamiento se coloque sobre el contenido */
}
.carrucel::-webkit-scrollbar{
    height: 12px;
    position: absolute; /* Asegura que la barra de desplazamiento esté posicionada sobre el contenido */

}
.carrucel::-webkit-scrollbar-thumb {
    background-color: var(--secundary-color); /* Color del thumb (barra deslizante) */
    border-radius: 6px; /* Bordes redondeados del thumb */
}
.carrucel::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Color de la pista del scrollbar */
    border-radius: 6px; /* Bordes redondeados de la pista */
}
.btn-arrow{ 
    cursor: pointer;
    text-decoration: none; /* Quitar subrayado */
    color: inherit; 
    opacity: 0.5;
    
}

.carrusel-item{
    flex: 1 0 auto;
    scroll-snap-align: center;
    width: 400px;
    scroll-behavior: smooth;
}
.carrusel-item:nth-child(1){
    margin-left: 100px;
}
.controls{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    justify-items: center;
    margin: 0;
}
.padding-header{
    padding-top: 12vh;
}

/* Directory section  */
.directory-section{
    display: flex;
    flex-direction: column;

    
}

.card--profile{
    width: 20%;
    min-width: 200px;
    height: 35vh;
    margin:0 1rem;
    margin-top: 25vh;
    display: flex;
    align-items: center;
}
.person-image{
    width: 150px;
    height: 150px;
    position: relative;
    top:-100px;
}
.image-circle{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.5);
    
}
.card--profile-info{    
    position: relative;
    top:-80px;
    margin: 0;
    text-align: center;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    
}
.card--profile-info span{

    
    color: blue;
    
}
.card--profile-info p{
    color: gray;
}
.social-cards{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}
.social-cards a{

    width:30px;
    padding: 0;
    font-size: 0.8rem;
    margin-top: 15px;
    cursor: pointer;
    
}
.social-cards a img{
    width: 100%;
    
}
/* Utilidades importantes */
.margin-top-0{
    margin-top: 0;
}
.no-margin{
    margin: 0;
}
.no-margin-bottom{
    margin-bottom:  0;

}
/* Antidoping section */
.antidoping-section{
    padding-top: 11vh;
    max-height: 75vh;

}
.container-antidoping{
    
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    place-items: center;
    margin: 2rem;
    gap: 1.5rem;

}
.image-antidoping img{
    width: 100%;
    border-radius: 1rem;
    box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.5);
}

/* Footer */
footer{
    position: relative;
    display: flex;
    flex-direction: column;

    margin-top: 10rem;
    min-height: 100px;
    background-color: #4e4ef8;
    padding: 20px 50px;

    text-align: center;
    color: aquamarine;
    }
    footer img{
    width:50%;
    }
    .container-footer{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    justify-content: center;
    }
    footer .logo-footer{
    display: flex;
    justify-content: center;
    align-self: center;
    }
    footer a svg  {
    width: 40px;
    height: 40px;
    }
    footer a svg path {
    fill: #fff; 
    }
    footer .wave{
    position: absolute;
    top: -100px;
    left: 0;

    width: 100%;
    height: 100px;
    
    background:url(../img/images/wave-purple.png);
    background-size: 1000px 100px;
    }
    footer .wave#wave1{
        width: 100%;

    bottom: 0;
    opacity: 1;
    z-index: 1000;
    animation: animateWave1 4s linear infinite;
    }
    footer .wave#wave2{
        width: 100%;
    bottom: 10px;
    opacity: 0.5;
    z-index: 999;
    animation: animateWave2 4s linear infinite;
    }
    footer .wave#wave3{
        width: 100%;
    bottom: 15px;
    opacity: 0.2;
    z-index: 998;
    animation: animateWave3 3s linear infinite;
    }
    footer .wave#wave4{
        width: 100%;
    bottom: 20px;
    opacity: 0.7;

    z-index: 996;
    animation: animateWave4 3s linear infinite;
    }
    @keyframes animateWave1 {
    0%{
        background-position: 1000px;
    }
    100%{
        background-position: 0px;
    }
    }
    @keyframes animateWave2 {
    0%{
        background-position: 0px;
    }
    100%{
        background-position: 1000px;
    }
    }
    

    

    @keyframes animateWave3 {
    0%{
        background-position: 0px;
    }
    100%{
        background-position: 1000px;
    }
    }
    @keyframes animateWave4 {
    0%{
        background-position: 1000px;
    }
    100%{
        background-position: 0px;
    }
    }



  








