/* 
Para el proyecto utilizaremos la metodología BEM (BLOQUE-ELEMENTO-MODIFICADOR):
BLOQUE:
.card{}
BLOQUE-ELEMENTO:
.card__form1{}
BLOQUE-ELEMENTOS:
.card__form1-input{}
BLOQUE-ELEMENTOS-MODIFICADOR:
.card__input__green{}

En cada clase usaremos el siguiente orden :

1.- POSICIONAMIENTO
2.- BOX MODEL
3.- TIPOGRAFIA
4.- VISUALES
5.- OTROS

.form-registro{
    position:absolute;
    top:10px;
    rigth:0;

    width:90%;
    heigth:40vh;
    border-radius:5px;

    font-size:1.2rem;
    font-weigth:bold;

    color:red1;
    backgronud-color:blue1;

    z-index:100;
    transition: 1s;
}

Nombres de clases en Ingles para tenerlos todos igual

*/

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;800&family=Rubik+Maps&display=swap');
/* font-family: 'Nunito', sans-serif;
font-family: 'Rubik Maps', system-ui; */


/* Global Variables */
:root{
    --primary-color:#0000ff;
    --secundary-color:#4fc3da;
    --purple-color:#4e4ef8;
    
}
/* General styles */
body{
font-family: 'Nunito', sans-serif;
/* scroll-behavior: smooth; */

}
section{
    min-height: 100vh;
    height: 100vh;
    /* scroll-behavior: smooth; */
    
    
    
}

/* Header */
header{
    position: fixed;
    top: 0;
    left: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 11vh;

    backdrop-filter:blur(10px);
    
    border-bottom: 1px solid rgba(248, 244, 244, 0.5);
    
    z-index: 200;
}
header div{
    display: flex;
    align-items: center;
}
header div div{
    display: flex;
    flex-direction: column;
    color: #ffffff;
}
header div div p{
    margin: 0;
}
header img{
    width: 60px;
    height: 60px;
    margin: 10px;
}
.nav-menus{
    display: flex;
    gap: 25px;
    padding: 0 20px;
}
.nav-menus a{
    color: white;
    font-size: 1rem;
    text-decoration: none;
}
.nav-menus a.active{
    color: var(--primary-color);
}


/* Blocks */
article{
    margin: 20px;
    padding: 15px;
}

.container{
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: row;

}
.button{
    padding: 15px;
    margin: 15px auto;
    border-radius: 10px;

    text-align: center;
    text-decoration: none;
    cursor: pointer;

    transition: transform 0.5s;
}
.button:hover{
    transform: translateY(-10px);
    background: #0000ff;
    
}
.button-blue{
    background-color:var(--purple-color);
    color: white;  
}
.button-50{
    width: 50%; 
}
.button-25{
    width: 25%; 
}

.col-2{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    place-items: center;
    align-items: center;
    

}
.col-2 img{
    width: 80%;
    border-radius: 5px;
}

.left-20{
    margin-left: 20%;
}
.w-25{
    width: 25%;
    margin: 0 auto;
}
.w-50{
    width: 50%;
    margin: 0 auto;
}
.h-75{
    height: 75vh;
}
.h-50{
    height: 50vh;
}
.margin-bar{
    margin: 8vh 0;
}

/* Elements */
.logo{
    color: white;
    text-decoration: none;
    font-size: 1rem;
}
/* Modificators */
.align-center{
    align-self: center;
}
.border-ice{
    box-shadow: 1px 2px 20px 5px var(--secundary-color);
}
/* Section hero */
.hero .bg{
    position: relative;
    width: 100%;
    height: 100vh;    
    overflow: hidden;
    
    background-image: url(./../img/images/patines.jpg);
    background-size: 100% 100vh;
    background-repeat: no-repeat;
    background-position: center;
    
   
}
.hero .bg img{
    width: 100%;
    height: 100vh;
   
}
.transparent{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    /* background: #2828f7; */
    background: var(--secundary-color);
    opacity: 0.5;
    z-index: 10;
    
    
}
.bubbles{
    position: absolute;
    display: flex; 
}
.bubbles span{
    position: relative;
    top: 0;
    min-width: 30px;
    height: 30px;
    background: #4fc3da;
    border-radius: 50%;
    box-shadow: 0 0 0 10px  #4fc3dc44,
    0 0 50px  #4fc3da,
    0 0 100px  #4fc3da;
    margin:0 4px;
    animation: animate 15s linear infinite;
    animation-duration: calc(75s / var(--i));
}
.bubbles span:nth-child(even){
    background: #ffffff;
    box-shadow: 0 0 0 10px  #4fc3dc44,
    0 0 50px  #4fc3da,
    0 0 100px  #4fc3da;
   
}

.info{
    position: relative;
    top: 20%;
    left: 10%;
    display: flex;
    flex-direction: column;
    width: 80%;
    color: white;
    z-index: 100;
}
.info h1{
    width: 100%;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
}
.info p{
    margin: 20px;
    font-size: large;
    text-align: center;
}

/* Animations */
@keyframes animate{
    0%{
        transform: translateY(-10vh) scale(0);
    }
    100%{
        transform: translateY(100vh) scale(0.5);
    }
}
@keyframes slideUp{
    from{
        transform: translateY(200px);
        
    }
    to{
        transform: translateY(0);
    }
}
@keyframes slideDown{
    from{
        transform: translateY(-500px);
        
    }
    to{
        transform: translateY(0);
    }
}
.scroll-animation-up{
    opacity: 0;
    filter: blur(1px);
   
    transform: scaleY(100px);
    transition:  1.5s;
}
.scroll-animation-down{
    opacity: 0;
    filter: blur(1px);
    transition:  1.5s;
}
.show-up{
    opacity: 1;
    filter: blur(0px);
    animation: slideUp 2s;
}
.show-down{
    opacity: 1;
    filter: blur(0px);
    animation: slideDown 2s;
}
/* About Section */
.about-section{
    display: grid;
    place-items: center;
    align-items: center;
    width: 100%;
    
    
    /* background-color: rgb(79, 195, 218,0.1); */
    
    background: linear-gradient(360deg, rgba(4,72,122,0.5) 2%, rgba(237,222,222,1) 50%, rgba(208,232,237,1) 96%);
    background: linear-gradient(
                to left top,
                rgba(39, 152, 233, 0.8),rgba(255, 255, 255, 0.8));
            
    box-shadow: 1px 2px 20px 5px rgba(39, 152, 233, 0.8); 
}
.about-section img{
    width: 50%;
    margin: 10px auto;
}
.article__about{
   padding-left:  15%;
}
.article__tittle{
    color: var(--purple-color);
    /* margin: 0; */
}
/* events section  */
.events-section{
   
  
   margin: 0;
   padding:0;
   
   z-index: 1;
   background-image: url('../img/images/paisaje.jpg');
   
   background-size: 100% 100vh;
   background-repeat: no-repeat;
   background-position: center;
   
  
}
.info-events{
 margin: 100px;
}



/* Carrusel */
.carrucel{
    height: 100vh;
    display: flex;
    flex-wrap: nowrap;
  
    width: 100%;
    overflow-x: auto;
    overflow-x: hidden;
    overflow: hidden;


    position: absolute; /* Permite que la barra de desplazamiento se coloque sobre el contenido */
    
}
.carrucel::-webkit-scrollbar{
    height: 12px;
    position: absolute; /* Asegura que la barra de desplazamiento esté posicionada sobre el contenido */

}
.carrucel::-webkit-scrollbar-thumb {
    background-color: var(--secundary-color); /* Color del thumb (barra deslizante) */
    border-radius: 6px; /* Bordes redondeados del thumb */
}
.carrucel::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Color de la pista del scrollbar */
    border-radius: 6px; /* Bordes redondeados de la pista */
}
.btn-right{
    position: relative;
    top: 22%;
    left:70%;
    z-index: 150;
    cursor: pointer;
    text-decoration: none; /* Quitar subrayado */
    color: inherit; 
    
}
.btn-left{
    position: relative;
    top: 22%;
    left:30%;
    z-index: 150;
    cursor: pointer;
    
}






.carrusel-item{
    flex: 1 0 auto;
    scroll-snap-align: center;
    width: 400px;
}
  /* ELEMENTS */
  .card{           
    display: flex;
    flex-direction: column;
    /* background: linear-gradient(
        to left top,
        rgba(255, 255, 255, 0.8),
        rgba(255, 255, 255, 0.5)
    ); */
    border-radius: 1rem;
    /* margin: 2rem; */
    padding: 3rem;
    box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.5);
    justify-content: space-between;
    backdrop-filter:blur(10px);
    
}
.card h1,.car p{
    opacity: 1;
}









