

.elements-menu{
    display: block;
}

header{
    top: 1rem;
    left: calc(100% + 310px);
    width: 300px;
    min-width: 300px;
    height: 95vh;
    max-height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    transition: all 1s;
    background-color:rgb(32,32,154,0.5);
    z-index: 1000;

}
.logo-nombre{
  display: flex;
  flex-direction: column;
  text-align: center;
  color: aliceblue;
  margin: 0;
  font-size: medium;
}

.nav-menus{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    color: aliceblue;
}

#menu_open,#menu_close{
    position: fixed;
    top: 5%;
    left: calc(100% - 70px);
    z-index: 1002;
    font-size: 3rem;
    font-weight: 700;
    color: rgb(13, 66, 112);
    transition: all 0.5s;
}
#menu_close{
    display: none;
}
#menu_open{
    display: block;
}
#menu_button:checked ~ header{

     left: calc(100% - 310px);
 }
#menu_button:checked ~ label #menu_open{
    display: none;
 }
 #menu_button:checked ~ label #menu_close{
    display: block;
 }
 .hero{
  top: 0;
  max-height: 400px;
 }
 .hero .bg{

    background-size: 100% 400px;
    background-repeat: no-repeat;
    background-position: top;
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 400px;

 }
 .welcome-hero{
  position: absolute;
    top: 10%;
    display: flex;
    width: 100%;
    padding: 0;
    justify-content:center;
    align-items: center;
    text-align: center;
}

.logo-div{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 30%;
  top: 100px;
}
.info{
  position: absolute;
  left: 0;
}
.info p{
  font-size: 1rem;
  width: 60%;
}
.info a{
  align-self: center;
  font-size: 0.7rem;
  width: 20%;
}
.welcome-hero .relleno{
    display: none;
}
.bubbles{
  position: absolute;
  top: 0;

}
.about-section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.article__about{
    width: 70%;
  text-align: justify;
}
.about-section .col-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly

}
.logo-1{
  margin-top: 4rem;
  width: 100%;
}
.about-section .img-about {
  width: 50%;
}

.center-flex,.center-flex img{
  margin: 2rem auto;
  text-align: ;
}
#history{
    display:none;
}
/* .section-galery2{
   margin-top: 80vh;
} */

.images-logos{
    width: 60%;
}

.gallery-container{
  margin-bottom: 0;
}




/* Sectioon events */
.events-section{

    margin: 0;
    padding:0;
    height: 100vh;
    width: 100%;

    z-index: 1;
    background-image: url('../img/images/paisaje.jpg');

    background-size: 100% 100vh;
    background-repeat: no-repeat;
    background-position: center;

 }
.btn-arrow{
    display: none;
}
.controls {
  display: flex;
}
.animation-event-to-right{
  opacity: 0;
}
.animation-right{
  opacity: 1;
  animation: moveRight 1s linear;
}


.carrucel{

    height: 70vh;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
}
.carrucel::-webkit-scrollbar{
    display: none;
}
.carrucel .carrusel-item {
    width: 70%;
    font-size: 1rem;
    height: 70vh;
}
.carrucel .carrusel-item article.card{
    height: 60%;
}
.carrucel .carrusel-item article.card h1{
    margin: 0;
}
.carrucel .carrusel-item article.card p{
    font-size: 0.8rem;
}
.directory-section{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;

    place-items: center;

}
.firma{
  width: 50%;
}
.element-directory {
  width: 80%;
  margin-top: 15%;
}

.person-image{
    width: 40%;
    height:auto;
    top: -40%;
}
.image-circle{
    width: 100%;
    height: 100%;

}




.antidoping-section .container-antidoping{
    display: flex;
    flex-direction: column;
}
.image-antidoping{
    width: 60%;

}
.image-antidoping img{

    height:40vh;
}

footer{
    margin-top: 40rem;
}


/* //MODAL */

.close {
  position: absolute;
  top:2.5%;
  left: 5%;
  color: white;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}
/* Communications section */
.communications-section{
  padding-top:100px ;
}
.communications-container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
}
